@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
	font-family: $font-main;
	color: $black;
	font-size: 20px;
}
.container-sm {
	max-width: 350px;
}
