//Fonts
$font-main: 'Montserrat', sans-serif;

//Colors
$white: #ffffff;
$light-green: rgba(177, 223, 131, 0.9);
$light-green-brd: 3px solid rgba(0, 0, 0, 0.5);
$black: #000000;
$amber: rgba(244, 210, 89, 0.9);
$deep-orange: rgba(228, 118, 56, 0.9);
$red: #ed1c24;
$red-900: rgba(160, 40, 40, 0.9);
$dark-brown: rgba(91, 51, 33, 0.9);
$cyan: rgba(116, 206, 235, 0.9);
$purple-pink: rgba(161, 79, 119, 0.9);
$purple-800: rgba(66, 54, 117, 0.9);
